# Lab1

## Verification v√† Validation

### V·∫•n ƒë·ªÅ trong System 1:


Kh√¥ng c√≥ ph√©p t√≠nh ho·∫∑c ƒë·ªãnh nghƒ©a cho gi√° tr·ªã delta; m√£ code kh√¥ng khai b√°o bi·∫øn delta ho·∫∑c cung c·∫•p c√¥ng th·ª©c c·ª• th·ªÉ cho delta.

C√°c c√¥ng th·ª©c t√≠nh x‚ÇÅ v√† x‚ÇÇ ƒë·ªÅu sai c·∫£ v·ªÅ m·∫∑t to√°n h·ªçc l·∫´n c√∫ ph√°p trong C++. C√¥ng th·ª©c ƒë√∫ng nh∆∞ sau :
<br> x‚ÇÅ = (-b + sqrt(DELTA)) / 2 * a
<br> x‚ÇÇ = (-b - sqrt(DELTA)) / 2 * a

### V·∫•n ƒë·ªÅ trong System 2:


C√°c c√¥ng th·ª©c t√≠nh x‚ÇÅ v√† x‚ÇÇ ƒë·ªÅu sai c·∫£ v·ªÅ m·∫∑t to√°n h·ªçc l·∫´n c√∫ ph√°p trong C++.
<br> x‚ÇÅ = (-b + sqrt(DELTA)) / 2 * a
<br> x‚ÇÇ = (-b - sqrt(DELTA)) / 2 * a

### C√°c v·∫•n ƒë·ªÅ chung ·ªü c·∫£ hai h·ªá th·ªëng:


Kh√¥ng c√≥ code ki·ªÉm tra c√°c ngo·∫°i l·ªá d·∫´n ƒë·∫øn ch∆∞∆°ng tr√¨nh c√≥ th·ªÉ g·∫∑p l·ªói khi th·ª±c thi v·ªõi c√°c gi√° tr·ªã ƒë·∫ßu v√†o ƒë·∫∑c bi·ªát ho·∫∑c kh√¥ng h·ª£p l·ªá.

**Khi a = 0:**  
Ph∆∞∆°ng tr√¨nh kh√¥ng c√≤n l√† b·∫≠c hai m√† tr·ªü th√†nh ph∆∞∆°ng tr√¨nh b·∫≠c nh·∫•t: ùëèùë• + ùëê = 0.  
Tuy nhi√™n, c·∫£ hai h·ªá th·ªëng v·∫´n s·ª≠ d·ª•ng c√¥ng th·ª©c nghi·ªám b·∫≠c hai, d·∫´n ƒë·∫øn ph√©p chia cho 2a = 0, g√¢y l·ªói chia cho 0.

**Khi Œî < 0:**  
Ph∆∞∆°ng tr√¨nh kh√¥ng c√≥ nghi·ªám th·ª±c.  
C·∫£ hai h·ªá th·ªëng ƒë·ªÅu kh√¥ng ki·ªÉm tra ƒëi·ªÅu ki·ªán n√†y m√† v·∫´n t√≠nh cƒÉn b·∫≠c hai c·ªßa DELTA.  
V√¨ DELTA √¢m n√™n sqrt(DELTA) kh√¥ng x√°c ƒë·ªãnh tr√™n t·∫≠p s·ªë th·ª±c, d·∫´n ƒë·∫øn l·ªói.

## Test-cases:

**Ch·∫°y ch∆∞∆°ng tr√¨nh python random c√°c test-case ng·∫´u nhi√™n ƒë·ªÉ th·ª±c hi·ªán ki·ªÉm th·ª≠.**

In [2]:
!python3 gen-test.py > testcase.txt

### a)

#### M√¥ t·∫£ h√†m s·ªë f1(x):

- f1(x) = 2x   v·ªõi  x > 10
- f1(x) = -x   v·ªõi  x ‚â§ 10

V·ªõi x l√† m·ªôt s·ªë nguy√™n.

#### Test-case

**<br>Tr∆∞·ªùng h·ª£p 1:** input > 10  
**tr∆∞·ªùng h·ª£p 2:** input <= 10  
&nbsp;&nbsp;&nbsp;&nbsp;- Test (gi√° tr·ªã d∆∞∆°ng): 0 <= input < 10  
&nbsp;&nbsp;&nbsp;&nbsp;- Test (gi√° tr·ªã √¢m): input < 0  
&nbsp;&nbsp;&nbsp;&nbsp;- Test input = 10

V·ªõi m·ªçi s·ªë nguy√™n thu·∫≠t to√°n ho·∫°t ƒë·ªông hi·ªáu qu·∫£, ƒë√∫ng y√™u c·∫ßu.

#### Ch·∫°y ch∆∞∆°ng tr√¨nh
Input : testcase.txt

Output : output.txt

In [4]:
!./lab1_a.out < testcase.txt > output.txt

#### K·∫øt qu·∫£

In [5]:
import pandas as pd

with open('testcase.txt') as f:
    testcases = [line.strip() for line in f.readlines()]
with open('output.txt') as f:
    outputs = [line.strip() for line in f.readlines()]
min_len = min(len(testcases), len(outputs))
# Remove the first element in testcases (it is the number of test cases)
if len(testcases) > 0:
    testcases = testcases[1:]
    min_len = min(len(testcases), len(outputs))
df = pd.DataFrame({
    'Testcase': testcases[:min_len],
    'Output': outputs[:min_len]
})

display(df)

   Testcase Output
0        96    192
1        41     82
2        41     82
3       -90     90
4        51    102
5       -90     90
6        38     76
7        38     76
8        54    108
9         1     -1
10       -5      5
11        4     -4

### b)

#### M√¥ t·∫£ b√†i to√°n :

**Ta c√≥ :**
f1(x) = 2x v·ªõi x ‚àà (-‚àû;0] ‚à™ [10;+‚àû)

f1(x) = -x v·ªõi x ‚àà (0;10]


#### C√°c tr∆∞·ªùng h·ª£p ki·ªÉm th·ª≠

- x c√≥ gi√° tr·ªã √¢m
- x c√≥ gi√° tr·ªã = 10
- x c√≥ gi√° tr·ªã = 0
- x c√≥ gi√° tr·ªã d∆∞∆°ng < 10
- x c√≥ gi√° tr·ªã d∆∞∆°ng > 10

#### Ch·∫°y ch∆∞∆°ng tr√¨nh
Input : testcase.txt

Output : output.txt

In [6]:
!./lab1_b.out < testcase.txt > output.txt

#### K·∫øt qu·∫£

In [7]:
import pandas as pd

with open('testcase.txt') as f:
    testcases = [line.strip() for line in f.readlines()]
with open('output.txt') as f:
    outputs = [line.strip() for line in f.readlines()]
min_len = min(len(testcases), len(outputs))
# Remove the first element in testcases (it is the number of test cases)
if len(testcases) > 0:
    testcases = testcases[1:]
    min_len = min(len(testcases), len(outputs))
df = pd.DataFrame({
    'Testcase': testcases[:min_len],
    'Output': outputs[:min_len]
})

display(df)

   Testcase Output
0        96    192
1        41     82
2        41     82
3       -90   -180
4        51    102
5       -90   -180
6        38     76
7        38     76
8        54    108
9         1     -1
10       -5    -10
11        4     -4

### c)

#### Ph√¢n t√≠ch ƒëi·ªÅu ki·ªán b√†i to√°n


**Nh√°nh 1: if (x < 10)**

Nghƒ©a l√† v·ªõi m·ªçi x < 10, ch∆∞∆°ng tr√¨nh tr·∫£ v·ªÅ 2x v√† k·∫øt th√∫c.

**Nh√°nh 2: else if (x < 2)**

ƒê·ªÉ ch·∫°y ƒë∆∞·ª£c nh√°nh n√†y, c·∫ßn x ‚â• 10 (do else) v√† ƒë·ªìng th·ªùi x < 2.

Nh∆∞ng ƒëi·ªÅu ki·ªán n√†y v√¥ l√Ω (kh√¥ng t·ªìn t·∫°i s·ªë n√†o v·ª´a ‚â• 10 v·ª´a < 2).

*Do ƒë√≥, nh√°nh n√†y l√† dead code (kh√¥ng bao gi·ªù ƒë∆∞·ª£c th·ª±c thi).*

**Nh√°nh 3 (else):**

X·∫£y ra khi x ‚â• 10.

Tr·∫£ v·ªÅ 2*x.

**K·∫øt qu·∫£ l√†, m·ªçi test case ƒë·ªÅu tr·∫£ v·ªÅ 2*x.**

#### Ch·∫°y ch∆∞∆°ng tr√¨nh 
Input : testcase.txt

Output : output.txt

In [9]:
!./lab1_c.out < testcase.txt > output.txt

#### K·∫øt qu·∫£

In [10]:
import pandas as pd

with open('testcase.txt') as f:
    testcases = [line.strip() for line in f.readlines()]
with open('output.txt') as f:
    outputs = [line.strip() for line in f.readlines()]
min_len = min(len(testcases), len(outputs))
# Remove the first element in testcases (it is the number of test cases)
if len(testcases) > 0:
    testcases = testcases[1:]
    min_len = min(len(testcases), len(outputs))
df = pd.DataFrame({
    'Testcase': testcases[:min_len],
    'Output': outputs[:min_len]
})

display(df)

   Testcase Output
0        96    192
1        41     82
2        41     82
3       -90   -180
4        51    102
5       -90   -180
6        38     76
7        38     76
8        54    108
9         1      2
10       -5    -10
11        4      8

### d)

#### M√¥ t·∫£ b√†i to√°n

**B√†i to√°n ki·ªÉm tra** log(x¬≤.cos(x)) nh·ªè¬†h∆°n¬†hay¬†l·ªõn¬†h∆°n 3x. Tuy nhi√™n, t·∫•t c·∫£ c√°c gi√° tr·ªã tr·∫£ v·ªÅ ƒëi·ªÅu l√† 2x *l√†m cho ƒëi·ªÅu ki·ªán b√†i to√°n kh√¥ng c√≥ √Ω nghƒ©a.*

Do ƒë√≥ v·ªõi m·ªçi testcase ƒë·ªÅu tr·∫£ v·ªÅ c√πng m·ªôt gi√° tr·ªã.

**ƒêi·ªÅu ki·ªán ƒë·ªÉ ƒëi·ªÅu ki·ªán b√†i to√°n c√≥ nghƒ©a** log(y) v·ªõi y > 0. Trong ƒë√≥:
<br>. x¬≤ >= 0  ‚àÄx ‚àà R lu√¥n lu√¥n ƒë√∫ng.
<br>. cos(x) > 0 (ƒëi·ªÅu ki·ªán x√°c ƒë·ªãnh testcase).

**M·ªôt s·ªë testcase c√≥ th·ªÉ t·∫≠p trung ki·ªÉm tra nh∆∞ :**
- V·ªõi x = 10 ‚Üí cos(10) ‚âà -0.84 < 0
- V·ªõi x = 2 ‚Üí cos(2) ‚âà -0.42 < 0
- V·ªõi x = œÄ/2 ‚Üí cos(œÄ/2) = 0 (v√¨ x ƒë∆∞·ª£c khai b√°o ki·ªÉu int n√™n c√≥ th·ªÉ kh√¥ng c·∫ßn ki·ªÉm tra test-case n√†y)
- V·ªõi x = 0 ‚Üí cos(0) = 1 ‚Üí log(0) (gi√° tr·ªã c·∫ßn ƒë·∫∑c bi·ªát ki·ªÉm tra)

**Tuy nhi√™n** h√†m log() c·ªßa cmath trong C++ kh√¥ng b√°o l·ªói v√† d·ª´ng ch∆∞∆°ng tr√¨nh khi y <= 0 :
- N·∫øu y = 0 ‚Üí tr·∫£ v·ªÅ -inf (√¢m v√¥ c√πng). Gi√° tr·ªã n√†y n·∫øu ƒë∆∞·ª£c so s√°nh v·ªõi m·ªôt s·ªë lu√¥n tr·∫£ v·ªÅ True.
- N·∫øu y < 0 ‚Üí tr·∫£ v·ªÅ NaN (not-a-number). Gi√° tr·ªã n√†y n·∫øu ƒë∆∞·ª£c so s√°nh v·ªõi m·ªôt s·ªë lu√¥n tr·∫£ v·ªÅ False.

**Do ƒë√≥ v·ªõi b·∫•t k√¨ testcase n√†o gi√° tr·ªã tr·∫£ v·ªÅ v·∫´n l√† 2x**

#### Ch·∫°y ch∆∞∆°ng tr√¨nh
Input : testcase.txt

Output : output.txt

In [11]:
!./lab1_d.out < testcase.txt > output.txt

#### K·∫øt qu·∫£

In [12]:
import pandas as pd

with open('testcase.txt') as f:
    testcases = [line.strip() for line in f.readlines()]
with open('output.txt') as f:
    outputs = [line.strip() for line in f.readlines()]
min_len = min(len(testcases), len(outputs))
# Remove the first element in testcases (it is the number of test cases)
if len(testcases) > 0:
    testcases = testcases[1:]
    min_len = min(len(testcases), len(outputs))
df = pd.DataFrame({
    'Testcase': testcases[:min_len],
    'Output': outputs[:min_len]
})

display(df)

   Testcase Output
0        96    192
1        41     82
2        41     82
3       -90   -180
4        51    102
5       -90   -180
6        38     76
7        38     76
8        54    108
9         1      2
10       -5    -10
11        4      8

### e)

#### M√¥ t·∫£ b√†i to√°n

B√†i to√°n t√¨m gi√° tr·ªã l·ªõn nh·∫•t trong ba s·ªë t·ª± nhi√™n num1, num2, num3.

Kh·ªüi t·∫°o gi√° tr·ªã max = 0.

- Ki·ªÉm tra n·∫øu num1 > num2 v√† num1 > num3 th√¨ gi√° tr·ªã max ƒë∆∞·ª£c g√°n = num1.
- Ki·ªÉm tra n·∫øu num2 > num1 v√† num2 > num3 th√¨ gi√° tr·ªã max ƒë∆∞·ª£c g√°n = num2.
- Ki·ªÉm tra n·∫øu num3 > num1 v√† num3 > num2 th√¨ gi√° tr·ªã max ƒë∆∞·ª£c g√°n = num3.

Ch∆∞∆°ng tr√¨nh tr·∫£ v·ªÅ gi√° tr·ªã max.

**V·∫•n ƒë·ªÅ c·ªßa b√†i to√°n**
N·∫øu test-case ch·ª©a √≠t nh·∫•t 2/3 gi√° tr·ªã b·∫±ng nhau l√† s·ªë l·ªõn nh·∫•t theo k√¨ v·ªçng, ch∆∞∆°ng tr√¨nh s·∫Ω tr·∫£ v·ªÅ duy nh·∫•t gi√° tr·ªã max = 0.
*VD : num1 = 10, num2 = 10, num3 = 5.

#### Test-case

- 3 s·ªë b·∫±ng nhau.
- Gi√° tr·ªã √¢m.
- Gi√° tr·ªã d∆∞∆°ng
- C√°c s·ªë b·∫±ng nhau l·ªõn nh·∫•t.
- Gi√° tr·ªã d∆∞∆°ng v√† gi√° tr·ªã √¢m.

#### Ch·∫°y ch∆∞∆°ng tr√¨nh
Input : testcase_e.txt

Output : output.txt

Expected : expected_output_e.txt

In [26]:
!./lab1_e.out < testcase_e.txt > output.txt

#### K·∫øt qu·∫£

In [28]:
import pandas as pd

# ƒê·ªçc file testcase
with open('testcase_e.txt') as f:
    testcases = [line.strip() for line in f.readlines()]

# ƒê·ªçc file output ch∆∞∆°ng tr√¨nh
with open('output.txt') as f:
    outputs = [line.strip() for line in f.readlines()]

# ƒê·ªçc file expected (do m√¨nh t·∫°o theo h√†m max)
with open('expected_output_e.txt') as f:
    expected = [line.strip() for line in f.readlines()]

# B·ªè d√≤ng ƒë·∫ßu (s·ªë l∆∞·ª£ng test case)
if len(testcases) > 0:
    testcases = testcases[1:]

# M·ªói d√≤ng testcases ƒë√£ l√† m·ªôt b·ªô a b c
grouped_cases = testcases  

# ƒê·∫£m b·∫£o ƒë·ªìng b·ªô s·ªë l∆∞·ª£ng testcase v√† output
min_len = min(len(grouped_cases), len(outputs), len(expected))

# T·∫°o DataFrame
df = pd.DataFrame({
    'Testcase': grouped_cases[:min_len],
    'Output': outputs[:min_len],
    'Expected': expected[:min_len]
})

# Th√™m c·ªôt ƒë√°nh d·∫•u ƒë√∫ng/sai
df['Match'] = df['Output'] == df['Expected']

# Hi·ªÉn th·ªã b·∫£ng
display(df)

   Testcase Output Expected  Match
0     0 0 0      0        0   True
1  -1 -1 -1      0       -1  False
2     1 2 3      3        3   True
3     5 5 5      0        5  False
4   -2 4 -6      4        4   True
5    0 -3 9      9        9   True
6    2 0 -8      2        2   True
7    7 7 -7      0        7  False
8   -4 -4 2      2        2   True
9  10 10 10      0       10  False

## Practice

#### M√¥ t·∫£ b√†i to√°n

Gi·∫£i ph∆∞∆°ng tr√¨nh b·∫≠c 4 d·∫°ng ƒë·∫∑c bi·ªát:
<p align="center">
    a.x‚Å¥ + b.x¬≤ + c = 0
</p>

**Trong ƒë√≥:**

ùëé, ùëè, ùëê (input): l√† c√°c h·ªá s·ªë th·ª±c do ng∆∞·ªùi d√πng nh·∫≠p ho·∫∑c c√°c gi√° tr·ªã ƒë∆∞·ª£c truy·ªÅn t·ª´ file

ùë• (output): l√† t·∫•t c·∫£ c√°c nghi·ªám th·ª±c c·ªßa ph∆∞∆°ng tr√¨nh (n·∫øu c√≥)

**Y√™u c·∫ßu b√†i to√°n :** t√¨m t·∫•t c·∫£ nghi·ªám th·ª±c (n·∫øu c√≥).

**√ù t∆∞·ªüng gi·∫£i b√†i to√°n**
<br>Ph∆∞∆°ng tr√¨nh c√≥ d·∫°ng : a.x‚Å¥ + b.x¬≤ + c = 0
<br>ƒê·∫∑t, y = x¬≤  
<br>‚Üí ph∆∞∆°ng tr√¨nh c√≥ d·∫°ng : a.y¬≤ + b.y + c = 0

<br>Gi·∫£i ph∆∞∆°ng tr√¨nh b·∫≠c 2 theo ·∫©n y v·ªõi Œî = b¬≤ -4ac

#### Testcase ƒë·∫£m b·∫£o t√≠nh ƒë√∫ng ƒë·∫Øn c·ªßa ch∆∞∆°ng tr√¨nh

**Tr∆∞·ªùng h·ª£p v√¥ s·ªë nghi·ªám**

Input: a = 0, b = 0, c = 0

Ph∆∞∆°ng tr√¨nh tr·ªü th√†nh 0 = 0, ‚àÄx ‚àà R

**Tr∆∞·ªùng h·ª£p v√¥ nghi·ªám**

Input: a = 0, b = 0, c = 5 (h·∫±ng s·ªë c ‚â† 0)

Ph∆∞∆°ng tr√¨nh tr·ªü th√†nh 5 = 0 ‚Üí ph∆∞∆°ng tr√¨nh v√¥ nghi·ªám

**Tr∆∞·ªùng h·ª£p b·∫≠c 2 c√≥ nghi·ªám th·ª±c**

Input: a = 0, b = 2, c = -8

2x¬≤ - 8 = 0 ‚Üí x = ¬±2.

**Tr∆∞·ªùng h·ª£p b·∫≠c 2 v√¥ nghi·ªám**

Input: a = 0, b = 1, c = 1

Ph∆∞∆°ng tr√¨nh: x¬≤ + 1 = 0 ‚Üí ph∆∞∆°ng tr√¨nh v√¥ nghi·ªám (do x¬≤ >= 0 ‚àÄx ‚àà R)

**Tr∆∞·ªùng h·ª£p Œî < 0 (kh√¥ng c√≥ nghi·ªám y th·ª±c, n√™n x c≈©ng v√¥ nghi·ªám)**

Input: a = 1, b = 0, c = 1

Ph∆∞∆°ng tr√¨nh: x‚Å¥ + 1 = 0 ‚Üí ph∆∞∆°ng tr√¨nh v√¥ nghi·ªám (do x¬≤ >= 0 ‚àÄx ‚àà R)

**Tr∆∞·ªùng h·ª£p Œî = 0 (nghi·ªám k√©p)**

Input: a = 1, b = -2, c = 1

Ph∆∞∆°ng tr√¨nh: (x¬≤ - 1)¬≤ = 0 ‚Üí x = ¬±1 (m·ªói nghi·ªám b·ªôi 2).

**Tr∆∞·ªùng h·ª£p Œî > 0, c√≥ 4 nghi·ªám ph√¢n bi·ªát**

Input: a = 1, b = -5, c = 4 

Ph∆∞∆°ng tr√¨nh: x‚Å¥ - 5x¬≤ + 4 = 0 ‚Üí Ph∆∞∆°ng tr√¨nh tr·ªü th√†nh y¬≤ - 5y + 4 = 0 (ƒë·∫∑t y=x¬≤). 
<br>Ta c√≥, Œî = 9 > 0 ‚Üí y= ( -b  ¬± ‚àöŒî )/2a ‚Üí y‚ÇÅ = 1 v√† y‚ÇÇ = 4 
‚Üí nghi·ªám x = ¬±1, ¬±2.

**Tr∆∞·ªùng h·ª£p c√≥ nghi·ªám b·∫±ng 0**

Input: a = 1, b = 0, c = 0

Ph∆∞∆°ng tr√¨nh: x‚Å¥ = 0 ‚Üí nghi·ªám duy nh·∫•t x = 0.

#### Ch·∫°y ch∆∞∆°ng tr√¨nh
Input : testcase_practice.txt

Output : output.txt

Expected output : expected_output_practice.txt

In [30]:
!./lab1_practice.out < testcase_practice.txt > output.txt

#### K·∫øt qu·∫£

In [32]:
import pandas as pd

# ƒê·ªçc file testcase
with open("testcase_practice.txt") as f:
    lines = [line.strip() for line in f.readlines()]
T = int(lines[0])
testcases = lines[1:]

# ƒê·ªçc file output t·ª´ ch∆∞∆°ng tr√¨nh C++
with open("output.txt") as f:
    outputs = [line.strip() for line in f.readlines()]

# ƒê·ªçc file expected t·ª´ file k·ª≥ v·ªçng
with open("expected_output_practice.txt") as f:
    expected = [line.strip() for line in f.readlines()]

# ƒê·ªìng b·ªô s·ªë l∆∞·ª£ng
min_len = min(len(testcases), len(outputs), len(expected))

# T·∫°o DataFrame
df = pd.DataFrame({
    "Testcase": testcases[:min_len],
    "Output": outputs[:min_len],
    "Expected": expected[:min_len],
})
df["Match"] = df["Output"] == df["Expected"]

# In b·∫£ng k·∫øt qu·∫£
print(df.to_string(index=False))

Testcase                                                    Output                                                  Expected  Match
   0 0 0                                        Infinite solutions                                        Infinite solutions   True
   0 0 5                                               No solution                                               No solution   True
  0 2 -8                    2 real solution(s): 2.000000 -2.000000                    2 real solution(s): 2.000000 -2.000000   True
  1 -2 1                    2 real solution(s): 1.000000 -1.000000                    2 real solution(s): 1.000000 -1.000000   True
   1 0 1                                               No solution                                               No solution   True
  1 -5 4 4 real solution(s): 2.000000 -2.000000 1.000000 -1.000000 4 real solution(s): 2.000000 -2.000000 1.000000 -1.000000   True
   1 0 0                              1 real solution(s): 0.000000                              1 real solution(s): 0.000000   True